
body {
	font-family: Arial;
    padding-top: 50px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size:42px;
}
.main-area {
  padding: 40px 15px;
  text-align: center;
}

.main-area img {
	height: 400px;
	margin-bottom: 10px;
}
.progress {
	margin-top: 10px;
}
.sub {
	font-size: 20px;
	display:inline-block;
	margin-top: 10px;
}


#username {

}
